{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

    <div class="row">
        <div class="col-md-3">
            <p class="lead">Genres</p>
            <div class="list-group">
                {% for team in teams %}
                    <a href="{{url_for('showTeamCaptains', team_name=team.name)}}" class="list-group-item">{{team.name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="no-margin">{{chosenTeam.name}}</h2>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="{{url_for('editTeam', team_name=chosenTeam.name)}}">Edit |</a>
                        <a href="{{url_for('deleteTeam', team_name=chosenTeam.name)}}">Delete</a>
                    </div>
                </div>
                <hr>
                <div class="row is-flex">
                    {% for i in captains %}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="gallery">
                                <img class="img-responsive" src="{{ i.image }}" alt="{{ i.name }}">
                                <h4 class="text-center">{{i.name}}</h4>
                                <div class="text-center">
                                <p><a class="btn btn-default"
                                      href="{{url_for('showCaptain', team_name=i.team.name, captain_name=i.name)}}"
                                      role="button">View details
                                    &raquo;</a></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}